.weather-day {
  padding: 10px;
  border-radius: 12px;
  border: 1px solid var(--color-stroke-card);
  background-color: var(--color-background-card);
  box-shadow: var(--shadow-cards);
  cursor: pointer;
  transition:
    transform 0.3s,
    background-color 0.3s;
}

.weather-day--active {
  transform: scale(1.1);
  background-color: var(--color-background);

  cursor: not-allowed;
}

.weather-day__weekday {
  margin-bottom: 5px;
}

.weather-day__date {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  span {
    line-height: var(--line-height-small);
  }
}

.weather-day__month {
  font-size: 1.6rem;
  line-height: 1;
  font-weight: 400;
}

.weather-day__icon {
  margin-bottom: 15px;
}

.weather-day__icon img {
  display: block;
  margin: 0 auto;
  object-fit: contain;
}

.weather-day__temperatures {
  display: flex;
  justify-content: space-between;
}

.weather-day__temp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-day__temp > span:last-child {
  font-size: 1.8rem;
  line-height: 1;
}

.weather-day__label {
  font-size: 1.2rem;
  line-height: 1.15;
  margin-bottom: 5px;
  opacity: 0.6;
}
